$border-color: white;
$border-color-checked: red;
$border-width: 4px;
$shadow: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
$images: (
  "bg-1":
    "https://acre-image-collections.s3.amazonaws.com/image-6578722caea701702392364_medium.jpg",
  "bg-2":
    "https://acre-images.s3.amazonaws.com/image-5ac62b9e561041522936734_medium.jpeg",
  "bg-3":
    "https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg",
  "bg-4":
    "https://acre-image-collections.s3.amazonaws.com/image-65787222618211702392354_medium.jpg",
  "bg-5":
    "https://acre-image-collections.s3.amazonaws.com/image-657872175b22e1702392343_medium.jpg",
  "bg-6":
    "https://acre-image-collections.s3.amazonaws.com/image-657871ff7d8401702392319_medium.jpg",
  "bg-7":
    "https://acre-image-collections.s3.amazonaws.com/image-6576286c7c4b61702242412_medium.jpg",
  "bg-8":
    "https://acre-image-collections.s3.amazonaws.com/image-6578af5f9af671702408031_medium.jpg",
  "bg-9":
    "https://acre-images.s3.amazonaws.com/image-5b01cdf4b2e9a1526844916.jpg",
  "bg-10": "https://placehold.co/600x200?text=Image+1",
  "bg-11": "https://placehold.co/300x500?text=Image+2",
  "bg-12": "https://placehold.co/90x1200?text=Image+3",
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  align-content: space-evenly;
  max-width: calc(100% - 2rem);
  margin: 20px auto;
  grid-template-columns: 1fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.col-lg-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: none;
}

label {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  &::after {
    content: "";
    display: block;
    left: 4%;
    top: 4%;
    width: 20px;
    height: 40px;
    max-width: 8%;
    max-height: 8%;
    position: absolute;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 210"><defs><style>.cls-1{fill:red;stroke-width:0px;}</style></defs><g id="Layer_1-2"><g id="SvgjsG1013"><path class="cls-1" d="m208,144h-16v50h-52v16h68v-66ZM68,16V0H0v66h16V16h52ZM16,194v-50H0v66h68v-16H16ZM140,0v16h52v50h16V0h-68Z"/></g></g></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  input:checked + img {
    border-color: $border-color-checked;
  }

  span {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    border: $border-width solid $border-color;
    filter: $shadow;
  }
  &.without-image {
    @each $class, $url in $images {
      &.#{$class}.lazy-background {
        background: url(#{$url}) no-repeat 50% 50% / cover;
      }
    }
    input:checked + & {
      border-color: $border-color-checked;
    }

    border: $border-width solid $border-color;
    filter: $shadow;
  }
}

label.checked img,
.col.checked label {
  border-color: $border-color-checked;
}

[class*="col-"] {
  line-height: 0;
}
