$border-color: white;
$border-color-checked: red;
$border-width: 4px;
$shadow: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
  line-height: 0;
}

input {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  appearance: none;
  border: $border-width solid $border-color;
  filter: $shadow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  &::after {
    content: "";
    display: block;
    left: 4%;
    top: 4%;
    width: 20px;
    height: 40px;
    max-width: 8%;
    max-height: 8%;
    position: absolute;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 210"><defs><style>.cls-1{fill:red;stroke-width:0px;}</style></defs><g id="Layer_1-2"><g id="SvgjsG1013"><path class="cls-1" d="m208,144h-16v50h-52v16h68v-66ZM68,16V0H0v66h16V16h52ZM16,194v-50H0v66h68v-16H16ZM140,0v16h52v50h16V0h-68Z"/></g></g></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  &:checked {
    border-color: $border-color-checked;
  }
}

[class*="col-"] {
  line-height: 0;
}
