$border-color: white;
$border-color-checked: red;
$border-width: 4px;
$shadow: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  align-content: space-evenly;
  max-width: calc(100% - 2rem);
  margin: 20px auto;
  grid-template-columns: 1fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: none;
}

label {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  &::after {
    content: "";
    display: block;
    left: 4%;
    top: 4%;
    width: 20px;
    height: 40px;
    max-width: 8%;
    max-height: 8%;
    position: absolute;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 210"><defs><style>.cls-1{fill:red;stroke-width:0px;}</style></defs><g id="Layer_1-2"><g id="SvgjsG1013"><path class="cls-1" d="m208,144h-16v50h-52v16h68v-66ZM68,16V0H0v66h16V16h52ZM16,194v-50H0v66h68v-16H16ZM140,0v16h52v50h16V0h-68Z"/></g></g></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  input:checked + img {
    border-color: $border-color-checked;
  }

  span {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    border: $border-width solid $border-color;
    filter: $shadow;
  }
  &.without-image {
    &.bg-1.lazy-background {
      background: url("https://acre-image-collections.s3.amazonaws.com/image-6578722caea701702392364_medium.jpg")
        no-repeat 50% 50% / cover;
    }
    &.bg-2.lazy-background {
      background: url("https://acre-images.s3.amazonaws.com/image-5ac62b9e561041522936734_medium.jpeg")
        no-repeat 50% 50% / cover;
    }
    &.bg-4.lazy-background {
      background: url("https://placehold.co/600x400?text=Image+1") no-repeat 50%
        50% / cover;
    }
    &.bg-5.lazy-background {
      background: url("https://placehold.co/400x800?text=Image+2") no-repeat 50%
        50% / cover;
    }
    &.bg-6.lazy-background {
      background: url("https://placehold.co/900x1400?text=Image+3") no-repeat
        50% 50% / cover;
    }
    &.bg-7.lazy-background {
      background: url("https://placehold.co/220x340?text=Image+4") no-repeat 50%
        50% / cover;
    }
    &.bg-8.lazy-background {
      background: url("https://placehold.co/120x400?text=Image+5") no-repeat 50%
        50% / cover;
    }
    &.bg-9.lazy-background {
      background: url("https://placehold.co/600x200?text=Image+6") no-repeat 50%
        50% / cover;
    }
    input:checked + & {
      border-color: $border-color-checked;
    }

    border: $border-width solid $border-color;
    filter: $shadow;
  }
}

label.checked img,
.col.checked label {
  border-color: $border-color-checked;
}

// If bootstrap is active
.container-fluid .row {
  --bs-gutter-x: 1rem;
  margin-top: 1rem;
  .col {
    max-width: 25%;
  }
}
